/* global/clear.css */ address:after, blockquote:after, div:after, fieldset:after, form:after, h1:after, h2:after, h3:after, h4:after, h5:after, h6:after, hr:after, noscript:after, p:after, pre:after, ul:after, ol:after, dl:after, dt:after, dd:after, li:after {
	content: " ";
	float: none;
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
	visibility: hidden
}
address, blockquote, div, fieldset, form, h1, h2, h3, h4, h5, h6, hr, noscript, p, pre, ul, ol, dl, dt, dd, li, hr, img {
	display: block
}
span.clear {
	clear: both;
	overflow: hidden;
	height: 0
}