/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */

h1#site-name {
	margin-bottom: 0;
}
#site-header, #site-subheader, #footer-region, .column, .node, .comment, .block {
	margin-bottom: 1.5em;
}
ul.main-menu, ul.secondary-menu {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	background: none repeat scroll 0 0 #EDFFFA;
	height: 100%;
	min-width: 960px;
	font-family: Arial, Helvetica, sans-serif;
}
body, input, button, textarea, a {
	color: #777777
}
a:hover {
	color: #FFA9B9
}
body, input, button, textarea {
	font-size: 12px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.main-banner{
	margin: 0 0 20px 0;
}
.main-banner, .left-image, .tiny-banner {
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow:  0px 0px 2px 1px #cccccc;
	box-shadow:  0px 0px 2px 1px #cccccc;
	border: 3px solid #ffffff;
}
.main-banner .content .static-wrapper .rb-slides a img{
	width:934px;
}
.main-banner .static-wrapper .rotating-banner {
	background-color: #ffffff;
}

.main-banner .rb-slides {}

.left-image {}

.layout-wrapper {
	margin: 0;
	padding: 10px;
	background: url(../images/bg-pop.png) 0 0 repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#ffffff;
}

.product-panel{
	margin:0;
	padding:0;
	color:#777777;	
}

.product-panel .view-content  ul{
	margin:0;
	padding:0;	
}
.product-panel .view-content  ul li.product {
    display: block;
    margin: 0 10px 30px 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
	width:196px;
	float:left;
}
.product-panel .view-content  ul li .views-field-field-dr-image img{
		width:196px;
		height:296px;
}
.product-panel .view-content  ul li .views-field-field-dr-image .views-label{
	margin:0;
	padding:5px 0;
	 font-size: 14px;
    font-weight: 400;
	color:#777777;
	display:block;
}
/* Footer section goes here */
.footer {
	margin: 0;
	padding: 20px 0 20px 0;
	background: #605e5e;
	-webkit-box-shadow: inset 0px 0px 10px 1px #424040;
	box-shadow: inset 0px 0px 10px 1px #424040;
	font-size: 13px;
	line-height: 19px;
}
.inner-footer {
	color: #ffffff;
}
.inner-footer h2 {
	margin: 16px 0 10px 0;
	padding: 0 0 0 0;
	font-family: 'helvetics-neue', Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 25px;
	font-weight: normal;
}
.inner-footer p {
	margin: 16px 0 10px 0;
	padding: 0 0 0 0;
	font-family: 'helvetics-neue', Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
}
.newsletter {
	margin: 0;
	padding: 10px 0 55px 0;
}
.newsletter input {
	color: #333333;
	font-size: 13px;
	line-height: 16px;
	-webkit-box-shadow: 0px 0px 10px 1px #424040;
	box-shadow: 0px 0px 10px 1px #424040;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.newsletter input[type=text] {
	margin: 0;
	padding: 5px 10px;
	width: 260px;
	height: 22px;
	float: left;
	background: url(../images/bg-input-text.png) 0 0 repeat-x;
}
.newsletter input[type=submit] {
	margin: 0 0 0 10px;
	padding: 5px 10px;
	width: 63px;
	height: 32px;
	float: left;
	background: url(../images/bg-input-button.png) 0 0 repeat-x;
	cursor: pointer;
}
.contact-panel {
	margin: 0;
	padding: 8px 0 8px 0;
}
.contact-panel ul {
	margin: 0;
	padding: 0;
}
.contact-panel ul li {
	margin: 0;
	padding: 10px 0 10px 35px;
}
.contact-panel ul li.phone {
	background: url(../images/ico-phone.png) 0 2px no-repeat;
}
.contact-panel ul li.email {
	background: url(../images/ico-email.png) 0 2px no-repeat;
}
.contact-panel ul li.address {
	background: url(../images/ico-home.png) 0 2px no-repeat;
}
.social ul {
	margin: 0;
	padding: 0;
}
.social ul li {
	margin: 0 6px 0 0;
	padding: 0;
	width: 31px;
	height: 32px;
	float: left;
}
.social ul li img {
	width: 31px;
	height: 32px;
	opacity: 0.3;
}
.social ul li img:hover {
	opacity: 9;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */
}
.footer-links {
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}
.footer-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-links ul li {
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/footer-nav.png) right center no-repeat;
	text-transform: uppercase;
}
.footer-links ul li a, .footer-links ul li a:visited {
	margin: 0;
	padding: 0 10px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
.footer-links ul li a:hover {
	color: #efefef;
	text-decoration: none;
}
.footer-links ul li:last-child {
	background: none;
}
.footer-links ul li:first-child a {
	padding-left: 0;
}

/* Header section starts here */
h1#page-title{ display:none; }
#site-header{
	margin:0;
	padding:0;
}
.free-shippiing{
	margin:0;
	padding:15px 0;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	color:#ffa9b9;
	clear:both;
}
.free-shippiing p{
	margin:0;
	padding:0;
	line-height:18px;
	text-transform:uppercase;	
}
.free-shippiing p a{
	margin:0;
	padding:0;
	font-size:12px;
	display:block;
	color:#ffa9b9;	
}
#site-subheader .region-header{
	margin:0;
	padding:0;
}
#site-subheader {
	margin:0;
	padding:0;
}
.logo-section{
}
.logo-section a.logo{
	width:260px;
	height:85px;
	display:block;
	background:url(../images/logo.png) 0 0 no-repeat;	
}
.main-navigation {
	margin:0;
	padding:0 0 0 0;
	clear:both;
}
.main-navigation .content{
	margin:0;
	padding:0;
}
.main-navigation ul.nice-menu-down{
	margin:0;
	padding:0;
	list-style:none;
} 
.main-navigation ul.nice-menu-down li{
	margin:0;
	padding:0;
	float:left;
	background-color:none !important;
}
.main-navigation ul.nice-menu-down li a, .main-navigation ul.nice-menu-down li a:visited{
	margin:0;
	padding:5px 12px 5px 12px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	text-decoration:none;
}
.main-navigation ul.nice-menu-down li a:hover{
	text-decoration:none;
}
.top-right-links{
	margin:0;
	padding:0;
}
.top-right-links ul.nice-menu{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.top-right-links ul.nice-menu li{
	margin:0;
	padding:0;
	float:left;
	background:url(../images/main-nav.jpg) 0 center no-repeat transparent !important;
	border:none !important;
}
.top-right-links ul.nice-menu li:first-child{
	background:none !important;
}
.top-right-links ul.nice-menu li a, .top-right-links ul.nice-menu li a:visited{
	margin:0;
	padding:0 10px;
	font-size:10px;
	float:left;
	text-transform:uppercase;
	color:#333333;
	text-decoration:none;
}
.top-right-links ul.nice-menu li a:hover{
	color:#666666;
}