/* $Id: styles.css,v 1.1.2.2.2.1 2011/01/11 01:08:49 dvessel Exp $ */

h1#site-name {
	margin-bottom: 0;
}
#site-header, #site-subheader, #footer-region, .column, .node, .comment, .block {
	margin-bottom: 1.5em;
}
ul.main-menu, ul.secondary-menu {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	background: none repeat scroll 0 0 #EDFFFA;
	height: 100%;
	min-width: 960px;
	font-family: Arial, Helvetica, sans-serif;
}
body, input, button, textarea, a {
	color: #777777
}
a:hover {
	color: #F86072
}
body, input, button, textarea {
	font-size: 12px;
	line-height: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.main-banner {
	margin: 0 0 20px 0;
}
.main-banner, .left-image, .tiny-banner {
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px 1px #cccccc;
	box-shadow: 0px 0px 2px 1px #cccccc;
	border: 3px solid #ffffff;
}
.main-banner .content .static-wrapper .rb-slides a img {
	width: 934px;
}
.main-banner .static-wrapper .rotating-banner {
	background-color: #ffffff;
}
.main-banner .rb-slides {
}
.left-image {
}
.layout-wrapper {
	margin: 0;
	padding: 10px;
	background: url(../images/bg-pop.png) 0 0 repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
}
.product-panel {
	margin: 0;
	padding: 0;
	color: #777777;
}
.product-panel .view-content ul {
	margin: 0;
	padding: 0;
}
.product-panel .view-content ul li.product {
	display: block;
	margin: 0 18px 30px 20px;
	padding: 2px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	position: relative;
	vertical-align: top;
	width: 190px;
	float: left;
	-webkit-box-shadow: 0px 0px 2px 1px #cccccc;
	box-shadow: 0px 0px 2px 1px #cccccc;
}
.product-panel .view-content ul li.product .views-field.views-field-title {
	margin: 0;
	padding: 3px 10px;
	display: block;
	background-color: #ffffff;
}
.product-panel .view-content ul li.product .views-field.views-field-title a {
	text-decoration: none
}
.product-panel .view-content ul li.product .views-field.views-field-field-dr-price, .product-panel .view-content ul li.product .views-field.views-field-field-acc-price, .product-panel .view-content ul li.product .views-field.views-field-field-bot-price, .product-panel .view-content ul li.product .views-field.views-field-field-sh-price, .product-panel .view-content ul li.product .views-field.views-field-field-top-price {
	margin: 0;
	padding: 3px 10px;
	display: block;
	overflow: hidden;
	background-color: #ffffff;
}
.product-panel .view-content ul li.product .views-field.views-field-field-dr-price .views-label, .product-panel .view-content ul li.product .views-field.views-field-field-acc-price .views-label, .product-panel .view-content ul li.product .views-field.views-field-field-bot-price .views-label, .product-panel .view-content ul li.product .views-field.views-field-field-sh-price .views-label, .product-panel .view-content ul li.product .views-field.views-field-field-top-price .views-label {
	font-weight: bold;
	float: left;
	margin: 0 5px 0 0;
}
.product-panel .view-content ul li.product .views-field.views-field-field-dr-price .field-content, .product-panel .view-content ul li.product .views-field.views-field-field-acc-price .field-content, .product-panel .view-content ul li.product .views-field.views-field-field-bot-price .field-content, .product-panel .view-content ul li.product .views-field.views-field-field-sh-price .field-content, .product-panel .view-content ul li.product .views-field.views-field-field-top-price .field-content {
	float: left;
	background-image: #ffffff;
}
.product-panel .view-content ul li .views-field-field-dr-image img, .product-panel .view-content ul li .views-field-field-acc-image img, .product-panel .view-content ul li .views-field-field-bot-image img, .product-panel .view-content ul li .views-field-field-sh-image img, .product-panel .view-content ul li .views-field-field-top-image img {
	width: 190px;
	height: 296px;
}
.product-panel .view-content ul li .views-field-field-dr-image .views-label, .product-panel .view-content ul li .views-field-field-acc-image .views-label, .product-panel .view-content ul li .views-field-field-bot-image .views-label, .product-panel .view-content ul li .views-field-field-sh-image .views-label, .product-panel .view-content ul li .views-field-field-top-image .views-label {
	margin: 0;
	padding: 4px 5px 8px 5px;
	font-size: 13px;
	font-weight: 500;
	color: #777777;
	display: block;
	overflow: hidden;
	background-color: #ffffff;
}
.product-panel .view-content ul li .views-field-field-dr-image .field-content, .product-panel .view-content ul li .views-field-field-dr-image .field-content a, .product-panel .view-content ul li .views-field-field-dr-image .field-content a img,  .product-panel .view-content ul li .views-field-field-acc-image .field-content, .product-panel .view-content ul li .views-field-field-acc-image .field-content a, .product-panel .view-content ul li .views-field-field-acc-image .field-content a img,  .product-panel .view-content ul li .views-field-field-bot-image .field-content, .product-panel .view-content ul li .views-field-field-bot-image .field-content a, .product-panel .view-content ul li .views-field-field-bot-image .field-content a img,  .product-panel .view-content ul li .views-field-field-sh-image .field-content, .product-panel .view-content ul li .views-field-field-sh-image .field-content a, .product-panel .view-content ul li .views-field-field-sh-image .field-content a img,  .product-panel .view-content ul li .views-field-field-top-image .field-content, .product-panel .view-content ul li .views-field-field-top-image .field-content a, .product-panel .view-content ul li .views-field-field-top-image .field-content a img {
	width: 190px;
	height: 300px;
	display: block;
	overflow: hidden;
}
/* Footer section goes here */
.footer {
	margin: 0;
	padding: 20px 0 20px 0;
	background: #605e5e;
	-webkit-box-shadow: inset 0px 0px 10px 1px #424040;
	box-shadow: inset 0px 0px 10px 1px #424040;
	font-size: 13px;
	line-height: 19px;
}
.inner-footer {
	color: #ffffff;
}
.inner-footer h2 {
	margin: 16px 0 10px 0;
	padding: 0 0 0 0;
	font-family: 'helvetics-neue', Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 25px;
	font-weight: normal;
	text-shadow: 1px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=0);
}
.inner-footer p {
	margin: 16px 0 10px 0;
	padding: 0 0 0 0;
	font-family: 'helvetics-neue', Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	text-shadow: 1px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=0);
}
.newsletter {
	margin: 0;
	padding: 10px 0 55px 0;
}
.newsletter input {
	color: #333333;
	font-size: 13px;
	line-height: 16px;
	-webkit-box-shadow: 0px 0px 10px 1px #424040;
	box-shadow: 0px 0px 10px 1px #424040;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	outline: none;
}
.newsletter input[type=text] {
	margin: 0;
	padding: 5px 10px;
	width: 260px;
	height: 22px;
	float: left;
	background: url(../images/bg-input-text.png) 0 0 repeat-x;
}
.newsletter input[type=submit] {
	margin: 0 0 0 10px;
	padding: 5px 10px;
	width: 63px;
	height: 32px;
	float: left;
	background: url(../images/bg-input-button.png) 0 0 repeat-x;
	cursor: pointer;
}
.contact-panel {
	margin: 0;
	padding: 8px 0 8px 0;
}
.contact-panel ul {
	margin: 0;
	padding: 0;
}
.contact-panel ul li {
	margin: 0;
	padding: 10px 0 10px 35px;
	text-shadow: 1px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=0);
}
.contact-panel ul li.phone {
	background: url(../images/ico-phone.png) 0 2px no-repeat;
}
.contact-panel ul li.email {
	background: url(../images/ico-email.png) 0 2px no-repeat;
}
.contact-panel ul li.address {
	background: url(../images/ico-home.png) 0 2px no-repeat;
}
.social ul {
	margin: 0;
	padding: 0;
}
.social ul li {
	margin: 0 6px 0 0;
	padding: 0;
	width: 31px;
	height: 32px;
	float: left;
}
.social ul li img {
	width: 31px;
	height: 32px;
	opacity: 0.3;
}
.social ul li img:hover {
	opacity: 9;
	transition: opacity 1s;
	-moz-transition: opacity 1s; /* Firefox 4 */
	-webkit-transition: opacity 1s; /* Safari and Chrome */
	-o-transition: opacity 1s; /* Opera */
}
.footer-links {
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	text-shadow: 1px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=0);
}
.footer-links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-links ul li {
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/footer-nav.png) right center no-repeat;
	text-transform: uppercase;
	text-shadow: 1px 0px 0px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=0);
}
.footer-links ul li a, .footer-links ul li a:visited {
	margin: 0;
	padding: 0 10px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
.footer-links ul li a:hover {
	color: #efefef;
	text-decoration: none;
}
.footer-links ul li:last-child {
	background: none;
}
.footer-links ul li:first-child a {
	padding-left: 0;
}
/* Header section starts here */
h1#page-title {
	display: none;
}
#site-header {
	margin: 0;
	padding: 0;
}
.free-shippiing {
	margin: 0;
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	color: #F86072;
	clear: both;
}
.free-shippiing p {
	margin: 0;
	padding: 0;
	line-height: 18px;
	text-transform: uppercase;
}
.free-shippiing p a {
	margin: 0;
	padding: 0;
	font-size: 12px;
	display: block;
	color: #F86072;
}
#site-subheader .region-header {
	margin: 0;
	padding: 0;
	position: relative;
}
#site-subheader {
	margin: 0;
	padding: 10px 0 0 0;
}
.logo-section {
}
.logo-section a.logo {
	width: 260px;
	height: 85px;
	display: block;
	background: url(../images/logo.png) 0 0 no-repeat;
}
.main-navigation {
	margin: 0;
	padding: 0 0 0 0;
	clear: both;
}
.main-navigation .content {
	margin: 0;
	padding: 0;
}
.main-navigation .content ul.nice-menu-down {
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation .content ul.nice-menu-down li {
	margin: 0;
	padding: 0;
	float: left;
	background: transparent !important;
}
#header-region ul.nice-menu li {
	margin: 0;
	padding: 0;
	border: none;
}
#header-region ul.nice-menu ul {
	background: #ffffff;
	top: 26px !important;
}
#header-region ul.nice-menu ul li {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	background-image: none !important;
}
#header-region ul.nice-menu-down li.menuparent.over {
/*background:url(../images/main-nav-sep.png) right center no-repeat #ffffff !important; */
}
#header-region ul.nice-menu ul li a, #header-region ul.nice-menu ul li a:visited {
	float: none;
}
#header-region ul.nice-menu a:hover, #header-region ul.nice-menu ul li a:hover {
	color: #F86072;
}
.main-navigation .content ul.nice-menu-down li a, .main-navigation .content ul.nice-menu-down li a:visited {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 16px;
	padding: 5px 13px 5px;
	text-transform: uppercase;
	z-index: 4;
	display: inline-block;
	position: relative;
	font-weight: 700;
	line-height: 18px;
	color: #000000
}
.main-navigation .content ul.nice-menu-down li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -2px;
	z-index: 3;
	text-align: left;
	font-size: 0;
	background: #fff
}
.main-navigation .content ul.nice-menu-down li ul li {
	display: list-item !important
}
.main-navigation .content ul.nice-menu-down li ul a {
	display: list-item !important;
	width: auto;
	padding: 0 15px;
	font-weight: 400;
	font-size: 11px;
	text-transform: none
}
.main-navigation .content ul.nice-menu-down li a:hover {
	text-decoration: none;
}
.top-right-links {
	margin: 0;
	padding: 0;
}
.top-right-links ul.nice-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.top-right-links ul.nice-menu li {
	margin: 0;
	padding: 0;
	float: left;
	background: url(../images/main-nav.jpg) 0 center no-repeat transparent !important;
	border: none !important;
}
.top-right-links ul.nice-menu li:first-child {
	background: none !important;
}
.top-right-links ul.nice-menu li a, .top-right-links ul.nice-menu li a:visited {
	margin: 0;
	padding: 0 10px;
	font-size: 10px;
	float: left;
	text-transform: uppercase;
	color: #333333;
	text-decoration: none;
}
.top-right-links ul.nice-menu li a:hover {
	color: #666666;
}
#page {
	background-color: #ffffff;
}
.logo-section {
	margin-bottom: 0 !important;
}
.page-intimates, .page-casual-dresses, .page-denim, .page-boots, .page-blouses, .product-panel {
	margin: 0;
	padding: 0;
}
.product-panel .views-exposed-widgets .views-exposed-widget {
	padding: 0 0 0 0;
	width: 200px;
}
.product-panel .views-exposed-widgets, .dress-pager-div ul.pager {
	margin: 0;
	padding: 0;
}
.product-panel .views-exposed-widgets .views-exposed-widget.views-submit-button {
	width: 100px;
}
.product-panel .views-exposed-widgets .views-exposed-widget label {
	width: 50px;
	padding-right: 7px;
	line-height: 26px;
	display: block;
	float: left;
	text-align: center;
}
.product-panel .views-exposed-widgets .views-exposed-widget .views-widget {
	float: left;
	width: 142px;
}
.product-panel .views-exposed-widgets .views-exposed-widget input[type=text], .Login-section input[type=text],.Login-section input[type=password] {
	margin: 0;
	padding: 2px 5px;
	height: 20px;
	border: 1px solid #777777;
	line-height: 20px;
	width: 130px;
	color: #777777;
}
.product-panel .views-exposed-widgets .views-exposed-widget select {
	margin: 0;
	padding: 2px;
	border: 1px solid #777777;
	width: 140px;
	font-size: 12px;
	height: 26px;
	color: #777777;
}
.product-panel .views-exposed-widgets .views-exposed-widget input[type=submit].form-submit, .Login-section input[type=submit] {
	margin: 0 0 0 10px;
	padding: 0 10px;
	background-color: #f85f73;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	text-transform: uppercase;
	display: block;
	border: 1px solid #de465a;
	color: #ffffff;
	cursor: pointer;
}
.product-panel .views-exposed-widgets .views-exposed-widget input[type=submit].form-submit:hover {
	background-color: #777777;
	border: 1px solid #333333;
	color: #ffffff;
}
.dress-pager-div {
	margin: 0;
	padding: 0;
}
.breadcrumb {
	margin: 10px 0 0 0;
	padding: 0;
	background: #eee;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5 #e5e5e5 #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.2);
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	/* Clear floats */
	overflow: hidden;
	width: 100%;
	font: 12px Helvetica, Arial, Sans-Serif;
}
.breadcrumb a {
	padding: .7em 1em .7em 2em;
	float: left;
	text-decoration: none;
	color: #444;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5), to(#ddd));
	background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
	background-image: linear-gradient(to right, #f5f5f5, #ddd);
}
.breadcrumb a:first-child {
	padding-left: 1em;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.breadcrumb a:hover {
	background: #fff;
}
.breadcrumb a::after, .breadcrumb a::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid;
	right: -1em;
}
.breadcrumb a::after {
	z-index: 2;
	border-left-color: #ddd;
}
.breadcrumb a::before {
	border-left-color: #ccc;
	right: -1.1em;
	z-index: 1;
}
.breadcrumb a:hover::after {
	border-left-color: #fff;
}
.breadcrumb a.current, .breadcrumb a.current:hover {
	font-weight: bold;
	background: none;
}
.breadcrumb .current::after, .breadcrumb .current::before {
	content: normal;
}
.view-filters {
	float: left;
	max-width: 57%;
}
.dress-pager-div, .accessories-pager-div, .bottom-pager-div, .tops-pager-div, .shoes-pager-div {
	float: right;
	max-width: 40%;
}
.product-panel.grid-12 .view-content {
	margin: 0;
	padding: 20px 0 20px 0;
	clear: both;
	display: block;
	overflow: hidden;
}
ul.pager {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.pager li {
	margin: 0;
	padding: 0 5px !important;
	border-right: solid 1px #ccc;
}
ul.pager li.pager-last {
	border: 0;
}
ul.pager li, ul.pager li a {
	display: block !important;
	float: left;
	font-size: 10px;
	line-height: 15px;
	position: relative;
}
ul.pager li a, ul.pager li a:visited {
	padding: 0;
}
ul.pager li.pager-current a {
	font-weight: 700;
}
.view-empty {
	margin: 0;
	padding: 25px 0 25px 0;
	clear: both;
	overflow: hidden;
	min-height: 400px;
}
.view-empty p {
	margin: 0 auto;
	width: 165px;
	padding: 50px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	background: url(../images/content-not-found.png) 0 center no-repeat;
}
.search-section {
	margin: 0;
	padding: 0;
	width: 200px;
	position: absolute;
	top: 80px;
	right: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 2px 1px #cccccc;
	box-shadow: 0px 0px 2px 1px #cccccc;
	border: 1px solid #f7f7f7;
}
.search-section input[type=text] {
	margin: 0;
	padding: 0 5px;
	width: 166px;
	height: 24px;
	line-height: 24px;
	border: 0;
	display: block;
	float: left;
}
.search-section input[type=submit] {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	border: 0;
	cursor: pointer;
	background: url(../images/btn-search.png) 0 0 no-repeat;
	text-indent: -900px;
}
.Login-section{
	margin:0 auto;
	padding:0;
	width:300px;
}
.Login-section h2{
	display:none;
}
.Login-section form{
	margin:0;
	padding:0;
}
.Login-section .form-item{
	overflow:hidden;
}
.Login-section .form-item label{
	float:left;
	width:100px;
	line-height:26px;
}
.Login-section input[type=text],.Login-section input[type=password]{
	width:150px;
}